<div class="row">
  <div class="col m6">
    <ul class="collection with-header z-depth-1">
      <li class="collection-header"><h4>All Products</h4></li>
      <% @products.each do |product| %>
        <li class="collection-item"><div><%= link_to product.name, product_path(product) %>  (<%= product.country %>)<span class="secondary-content">$<%= product.cost %></span></div></li>
      <% end %>
    </ul>
  </div>
  <div class="col m6">
    <ul class="collection with-header z-depth-1">
      <li class="collection-header"><h4>Most Reviewed</h4></li>
      <% @products.most_reviews.each do |product| %>
        <li class="collection-item"><div><%= link_to product.name, product_path(product) %>  (<%= product.country %>)<span class="secondary-content">$<%= product.cost %></span></div></li>
      <% end %>
    </ul>
    <ul class="collection with-header z-depth-1">
      <li class="collection-header"><h4>Recently Added</h4></li>
      <% @products.three_most_recent.each do |product| %>
        <li class="collection-item"><div><%= link_to product.name, product_path(product) %>  (<%= product.country %>)<span class="secondary-content">$<%= product.cost %></span></div></li>
      <% end %>
    </ul>
    <ul class="collection with-header z-depth-1">
      <li class="collection-header"><h4>Made in USA</h4></li>
      <% @products.made_in_usa.each do |product| %>
        <li class="collection-item"><div><%= link_to product.name, product_path(product) %>  (<%= product.country %>)<span class="secondary-content">$<%= product.cost %></span></div></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to "ADD", new_product_path, :class => "btn-floating btn-large waves-effect waves-light black"%>
</div>
