<h1><%= @product.name %></h1>
<h5>| <%= @product.country %> | $<%= @product.cost %></h5>
<% if @product.reviews.any? %>
  <h4>Reviews:</h4>

  <ul class="collection">
    <% @product.reviews.each do |review| %>
      <li class="collection-item avatar">
        <i class="material-icons circle">rate_review</i>
        <span class="title"><b><%= review.author %></b></span>
        <p><%= review.content_body %></p>
        <span class="secondary-content"><%= review.rating %> / 5</span>
        <%= link_to "Delete review", product_review_path(@product, review),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<p><%= link_to "Return to products", products_path %></p>
<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
